@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Tagalog&display=swap');

.header{
    font-family: "Noto Sans Tagalog", sans-serif;
    height: 120px;
    background: linear-gradient(135deg, red, blue) ;
    clip-path: polygon(0 0% , 100% 0 , 100% 92% , 0 100% );
    color: rgb(187, 1, 184);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding: 20px;
}